.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.image500 {
    height: 500px;
}

header {
    text-align: center;
    background-color: #b599d1;
}

.introText {
    color: aquamarine;
    font-family: 'Crafty Girls', cursive;
    font-size: 2em;
}

.introName {
    color: aquamarine;
    font-family: 'Crafty Girls', cursive;
    font-size: 8em;
}

.blogContent {
    width: 60%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.titleText {
    font-family: 'Freckle Face', cursive;
}

.dateText {
    font-family: 'Righteous', cursive;
}

.blogText {
    font-family: 'Righteous', cursive;
}
